
/********** GENERAL STYLES *********/


body {
  background-color: white;
}


a { 
	text-decoration: none; 
	color: white;
}

a:hover {
	color: cyan;
}

h1 {
	padding: 15px;
}

/********* HEADER ***************/

#logo-header {

	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

/********* NAVIGATOR ************/

#links li {
  display: inline-block;
  list-style: none;
}

#navigator {
	text-align: center;
	background-color: #595959;
	width: 100%;
	color: white;
	border: dotted 2px;
	border-color: black;
}


/********* LOCATIONS **********/

#map {
	text-align: center;
	background-color: #e5e5e5;
	padding: 20px;
}

/********* PARAGRAPH ***********/

#paragraph {
	text-align: center;
	background-color: #e5e5e5;
	padding: 20px;
}

#texts {
	width: 55%;
	padding: 50px;
}

/********* FOOTER ***********/

footer {
	background-color: #191919;
	color: white;
	border-top: dotted 2px;
	border-bottom: dotted 2px;
	border-color: black;
	text-align: center;
}


/********* CONTACT BOX *******/

#dotted-box {
	border: dotted 2px;
	border-color: black;
	background-color: white;
}