h1{
	position: absolute;
}
h2{
	position: fixed;
}
ol .changeText {
	color: green;
}
p{
	position: relative;
	color: purple;
	text-transform: capitalize;
}

.changeText{
	font-size: 25px;
	font-family:cursive;
}

.box{
	margin: 20px 10% 20px 10px;
	border: black 5px dotted;
	padding: 10px 20% 10px 20%;
}
