body{
  background-color: green;
}
#wrapper{
  background-color: blue;
  margin: 0 auto;
  width:650px;
  height: 650px;
}
#header{
  text-align: center;
  width: 650px;
    height: 100px;
  background-color: red;
}
#navigation{
  background-color: pink;
  width: 150px;
  height: 150px;
  float: left; top;
}
#content{
  background-color: orange;
  width: 500px;
  height: 150px;
  float: right; top;
}
#middle{
  background-color: blue;
  width: 650px;
  height: 350px;
  clear: both;
}
#footer{
  background-color: yellow;
  width: 650px;
  height: 50px;
}
